.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-footer);
}
.footer-logo-link {
  display: block;
  margin-bottom: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-logo {
  color: var(--second-title-color);
}
.footer-link {
  font-style: normal;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}
.address-link {
  color: var(--second-title-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
  outline: none;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.footer-list {
  display: flex;
  align-items: baseline;
}
.footer-item:not(:last-child) {
  margin-right: 70px;
}
.footer-item:last-child {
  margin-left: auto;
}
.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  outline: none;
}
.footer-social-icon {
  fill: currentColor;
}
.input-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: border-color var(--transition);
}
.input-email:focus,
.input-email:hover {
  border-color: var(--accent-color);
  outline: none;
}
.btn-footer {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: background-color var(--transition);
}
.btn-footer:focus,
.btn-footer:hover {
  background-color: #188ce8;
  outline: none;
}
.footer-email {
  align-content: flex-end;
  display: flex;
}
.footer-icon {
  fill: var(--btn-color);
  margin-left: 10px;
}
